.navbar>.navbar-inner>.center {
	margin: 0 0;
	margin-left: auto;
}

.hb-content {
	position: absolute;
	top: 56px;
	bottom: 48px;
	left: 0px;
	right: 0px;
	border: none;
	margin: 5px;
}

.navbar a.link, .subnavbar a.link, .toolbar a.link, .hb-bar {
	background-color: #000000;
	color: green;
}

.hb-page {
	right: 0px;
	bottom: 0px;
}

.hb-picked-game {
	background-color: #dfecde;
}

.hb-picked-team {
	font-weight: bold;
	font-size: 1.1em;
	color: #175A21;
}

.hb-table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	empty-cells: show;
}

.hb-table TH, .hb-table TD {
	border: 1px solid #d1d1d1;
	padding: 2px 5px;
}

.hb-table TD>SPAN {
	font-style:  italic;
	margin-right: 12px;
	float:right;
}

.hb-table CAPTION {
	border-bottom: 1px solid #cdcdcd;
	padding: 3px;
	font-weight: bold;
}

.hb-table CAPTION, 
.hb-table TH {
	background-color: #cfcfcf;
}

.hb-table TH {
	border-left: 1px solid #cdcdcd;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

.hb-table TH:first-child {
	border-left: 1px solid #d1d1d1;
}

.hb-table TH:last-child {
	border-right: 1px solid #d1d1d1;
}

.hb-table.weeks {
	border-collapse: separate;
	border-spacing: 1px;
}

.hb-table.weeks TD {
	text-align: center;
	border: 1px solid white;
	color: white;
}

.hb-table.weeks TD.selected {
	border: 1px solid #BFDBB6;
	background-color: #EBFAE6;
	
}

.hb-table.weeks A.link {
	color: green;
}